* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(./img/backgraund-body.png);
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  width: 100%;
  max-width: 1180px;
  margin: auto;
}